{% load sekizai_tags thumbnail %}

<div id="slider-wrapper">
  <div class="image-slider-{{ slider.name|slugify }}">
    {% for image in images %}
    <div class="single-image">
      {% thumbnail image.image options.size crop=options.crop upscale=options.upscale as thumb %}
      {% if image.link %}<a href="{{ image.link }}">{% endif %}
      <img data-lazy="{{thumb.url}}" class="img-responsive">
      {% if image.caption_text %}
        <div class="slider-caption-text">
          {{image.caption_text|linebreaks}}
        </div>
      {% if image.link %}</a>{% endif %}
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

{% addtoblock "js" %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.image-slider-{{ slider.name|slugify }}').slick({
      lazyLoad: 'ondemand',
      slidesToShow: {{ slider.slides_to_show }},
      slidesToScroll: {{ slider.slides_to_scroll }},
      autoplay: {{autoplay|yesno:"true,false"}},
      dots: {{dots|yesno:"true,false"}},
      infinite: {{slider.infinite|yesno:"true,false"}}{% if fade %},
      fade: {{fade|yesno:"true,false"}},
      cssEase: 'linear'
      {% endif %}
    });
  });
</script>
{% endaddtoblock "js" %}
